/* ==========================================================================
   Capture
   ========================================================================== */

/**
 * Capture is a little molecule to catch all mouse's moves
 */
.sg--capture{
  cursor: col-resize;
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 20;
}
