/* ==========================================================================
   Atomise element
   ========================================================================== */

.#{$prefix}element {
    overflow: hidden;
    position: relative;
}
    .#{$prefix}element .#{$prefix}heading {
        padding-left: 1.5em;
        position: relative;

        &:before {
            margin-left: -0.8em;
            background: $light-grey;
            content: ' ';
            height: 100%;
            position: absolute;
            width: 0.5em;
        }
    }

    .#{$prefix}element .#{$prefix}show-markup {
        position: absolute;
        right: 1.5em;
        top: 2em;
    }
