/* ==========================================================================
   Viewport
   ========================================================================== */

.#{$prefix}viewport {
    margin: 0 auto;
    padding: 0;
    background: $white;
    border: 1px solid lighten($light-grey, 40%);
    position: relative;

    &.#{$prefix}animate {
        transition: width 250ms ease-out;
    }
}

.#{$prefix}viewport-container {
    padding: 10vh 0;
    background: lighten($light-grey, 45%);
}
