/* ==========================================================================
   Heandings
   ========================================================================== */

h1.#{$prefix}heading,
h2.#{$prefix}heading,
h3.#{$prefix}heading,
h4.#{$prefix}heading,
h5.#{$prefix}heading,
h6.#{$prefix}heading {
    color: lighten($black, 60%);
    font-family: 'notosans', helvetica, sans-serif;
    font-weight: 400;
}
