/* ==========================================================================
   Atomise logo
   ========================================================================== */

.#{$prefix}logo {
    margin: 0.1em 0.3em;
    padding: 0;
    background: transparent url('/assets/images/atomise-logo.svg') center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    font-family: 'notosans', helvetica, sans-serif;
    height: 9vh;
    text-indent: -99em;
    transition: all 350ms ease-out;
    width: 8vh;

    &:hover { transform: rotate(2turn); }

    a{
        display: block;
        height: 100%;
        cursor: pointer;
        width: 100%;
    }
}
