/* ==========================================================================
   Atomise logo
   ========================================================================== */

.#{$prefix}logo {
    margin: 0.1em 0.3em;
    padding: 0;
    background: transparent url('/assets/images/atomise-logo.svg') center center no-repeat;
    background-size: 150% 150%;
    display: inline-block;
    font-family: 'notosans', helvetica, sans-serif;
    height: 1em;
    text-indent: -99em;
    width: 1em;

    a{
        display: block;
        height: 100%;
        width: 100%;
    }
}
