<div class="atomise--swatch" style="background:#007ee5;color:#ffffff;">
    Bleu
    <div class="atomise--swatch-footer" style="color:#ffffff;">
        PMS 2172 C<br>CMYK 79,48,0,0<br>#007ee5
    </div>
</div>

<div class="atomise--swatch" style="background:#ffffff;color:#3d464d;">
    White
    <div class="atomise--swatch-footer" style="color:#3d464d;">
        #ffffff
    </div>
</div>

<div class="atomise--swatch" style="background:#7b8994;color:#ffffff;">
    Light grey
    <div class="atomise--swatch-footer" style="color:#ffffff;">
        #7b8994
    </div>
</div>

<div class="atomise--swatch" style="background:#3d464d;color:#ffffff;">
    Grey
    <div class="atomise--swatch-footer" style="color:#ffffff;">
        PMS 2336 C<br>CMYK 74,62,55,43<br>#3d464d
    </div>
</div>
