<div class="atomise--swatch" style="background:#007ee5;color:#ffffff;">
    Blue
    <div class="atomise--swatch-footer" style="color:#ffffff;">
        #007EE5
    </div>
</div>

<div class="atomise--swatch" style="background:#ffffff;color:#3d464d;">
    White
    <div class="atomise--swatch-footer" style="color:#3d464d;">
        #FFFFFF
    </div>
</div>

<div class="atomise--swatch" style="background:#7b8994;color:#ffffff;">
    Light grey
    <div class="atomise--swatch-footer" style="color:#ffffff;">
        #7B8994
    </div>
</div>

<div class="atomise--swatch" style="background:#3d464d;color:#ffffff;">
    Grey
    <div class="atomise--swatch-footer" style="color:#ffffff;">
        #3D464D
    </div>
</div>
