/* ==========================================================================
   Custom font import
   ========================================================================== */

@font-face {
    font-family: 'notosans';
    src: url('/assets/fonts/noto/notosans-regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/noto/notosans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/noto/notosans-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/noto/notosans-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/noto/notosans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/noto/notosans-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
