/* ==========================================================================
   Atomise quicknav card
   ========================================================================== */

.#{$prefix}quicknav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: block;

        @media (min-width: $breakpoint-medium) {
            display: inline-block;
            width: 19.5%;
        }
    }

    li a {
        margin: 0.2rem;
        padding: 0.8rem 0.4em;
        background: $blue;
        color: $white;
        display: block;
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: background 100ms ease-out;

        &:hover { background: $light-grey; }

        span{
            display: block;
            font-size: 0.5rem;
            font-style: italic;
            text-transform: lowercase;
        }
    }
}
