<nav class="sg--top-bar">
  {{{#patterns}}}
  <ul class="sg--title-area">
    <li class="sg--name">
      <h1><a href="./">PatternLab</a></h1>
    </li>
  </ul>
  <section class="sg--top-bar-section">
    <!-- Right site menu -->
    <ul class="right">
      <li class="sg--size-control--container">
        <form class="sg--size-control">
          Size <input type="text" value="----" class="sg--input-size-px"> px / <input type="text" value="----" class="sg--input-size-px">em
        </form>
      </li>
      <li><a href="#" class="sg--size-small">S</a></li>
      <li><a href="#" class="sg--size-medium">M</a></li>
      <li><a href="#" class="sg--size-large">L</a></li>
      <li><a href="#" class="sg--size-full">FULL</a></li>
      <li><a href="#" class="sg--size-random">RANDOM</a></li>
      <li><a href="#" class="sg--size-disco">DISCO</a></li>
      <li class="sg--has-dropdown">
        <a href="#">MQ</a>
        <ul class="sg--dropdown">
          <li><a href="#">mediaquery1</a></li>
          <li><a href="#">mediaquery2</a></li>
          <li><a href="#">mediaquery3</a></li>
          <li><a href="#">mediaquery4</a></li>
        </ul>
      </li>
      <li><a href="#" class="sg--see-code">CODE</a></li>
      <li class="sg--has-dropdown">
        <a href="#" class="sg--setting">Settings</a>
        <ul class="sg--dropdown">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left site menu -->
    <ul class="left">
      <li class="sg--nav-atoms">
        <a class="sg--acc-handle" href="#">ATOMS</a>
        <ul class="sg--acc-panel">
          <li class="sg--nav-global">
            <a class="sg--acc-handle" href="#">GLOBAL</a>
            <ul class="sg--acc-panel sg--sub-nav">
              <li><a href="#">Animations</a></li>
              <li><a href="#">Colors</a></li>
              <li><a href="#">Fonts</a></li>
              <li><a href="#">View all</a></li>
            </ul>
          </li>
          <li class="sg--nav-text">
            <a href="sg--acc-handle">TEXT</a>
            <ul class="sg--acc-panel sg--sub-nav">
              <li><a href="#">Blockquote</a></li>
              <li><a href="#">Headings</a></li>
              <li><a href="#">Hrs</a></li>
              <li><a href="#">Inline elements</a></li>
              <li><a href="#">Paragraph</a></li>
              <li><a href="#">Time</a></li>
              <li><a href="#">View all</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="sg--nav-molecules">
        <a class="sg--acc-handle" href="#">MOLECULES</a>
        <ul class="sg--acc-panel">
          <li class="sg--nav-blocks">
            <a class="sg--acc-handle" href="#">BLOCKS</a>
            <ul class="sg--acc-panel sg--sub-nav">
              <li><a href="#">item1</a></li>
              <li><a href="#">item2</a></li>
              <li><a href="#">item3</a></li>
              <li><a href="#">item4</a></li>
              <li><a href="#">View all</a></li>
            </ul>
          </li>
          <li class="sg--nav-text">
            <a href="#">TEXT</a>
            <ul class="sg--acc-panel sg--sub-nav">
              <li><a href="#">item1</a></li>
              <li><a href="#">item2</a></li>
              <li><a href="#">item3</a></li>
              <li><a href="#">item4</a></li>
              <li><a href="#">View all</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="sg--nav-organisms">
        <a class="sg--acc-handle" href="#">ORGANISMS</a>
        <ul class="sg--acc-panel">
          <li class="sg--nav-blocks">
            <a class="sg--acc-handle" href="#">BLOCKS</a>
            <ul class="sg--acc-panel sg--sub-nav">
              <li><a href="#">item1</a></li>
              <li><a href="#">item2</a></li>
              <li><a href="#">item3</a></li>
              <li><a href="#">item4</a></li>
              <li><a href="#">View all</a></li>
            </ul>
          </li>
          <li class="sg--nav-text">
            <a href="#">TEXT</a>
            <ul class="sg--acc-panel sg--sub-nav">
              <li><a href="#">item1</a></li>
              <li><a href="#">item2</a></li>
              <li><a href="#">item3</a></li>
              <li><a href="#">item4</a></li>
              <li><a href="#">View all</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="sg--nav-tamplates">
        <a class="sg--acc-handle" href="#">TEMPLATES</a>
        <ul class="sg--acc-panel">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Homepage</a></li>
        </ul>
      </li>
      <li class="sg--nav-pages">
        <a class="sg--acc-handle" href="#">PAGES</a>
        <ul class="sg--acc-panel">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Homepage</a></li>
        </ul>
      </li>
      <li><a href="#">ALL</a></li>
      <li>
        <form class="sg--pattern-search">
          <input type="search" placeholder="Your pattern" class="sg--input-search">
        </form>
      </li>
    </ul>
  </section>
</nav>
