<header class="sg--header">
  <ul class="sg--primary-menu">
    <li>
      atoms
        {{{patterns.atoms}}}
    </li>
    <li>
      molecules
        {{{patterns.molecules}}}
    </li>
    <li>
      organisms
        {{{patterns.organisms}}}
    </li>
    <li>
      templates
        {{{patterns.templates}}}
    </li>
    <li>
      pages
        {{{patterns.pages}}}
    </li>
  </ul>
</header>
