<!-- navigation toggle -->
<a href="#sg--nav-container" class="sg--nav-toggle"><span class="icon-menu"></span>Menu</a>
<!-- end of navigation toggle -->

<!-- pattern navigation & controls -->
<nav class="sg--nav-container">
  <!-- pattern menu -->
  {{{patterns}}}
  <!-- end of pattern menu -->

  <!-- controls -->
  <div class="sg--controls">
    <div class="sg--control-content">
      <ul class="sg--control">
        <li class="sg--size">
          <div class="sg--current-size"><!-- current size form -->
            <form id="sg--form">
              Size <input type="number" class="sg--input sg--siz-px" value="---">px /
              <input type="number" class="sg--input sg--siz-px" value="---">em
            </form>
          </div><!-- end of current size form -->
          <ul class="sg--acc-panel sg--size-options">
            <li><a href="#" id="sg--size-s">S</a></li>
						<li><a href="#" id="sg--size-m">M</a></li>
						<li><a href="#" id="sg--size-l">L</a></li>
						<li><a href="#" id="sg--size-full">Full</a></li>
						<li><a href="#" id="sg--size-random">Random</a></li>
						<li><a href="#" class="mode-link" id="sg--size-disco">Disco</a></li>
          </ul>
        </li>
        <li class="sg--mqs">
          <a href="#" class="mode-link sg--acc-handle" id="sg--size-mq" title="Media queries in stylesheet">MQ</a>
					<ul class="sg--acc-panel sg--left" id="sg--mq">
							<li><a href="#">10em</a></li>
							<li><a href="#">17em</a></li>
							<li><a href="#">24em</a></li>
							<li><a href="#">29.75em</a></li>
							<li><a href="#">39.8em</a></li>
							<li><a href="#">46.8em</a></li>
							<li><a href="#">48em</a></li>
							<li><a href="#">50em</a></li>
							<li><a href="#">72em</a></li>
					</ul>
        </li>
        <li class="sg--find">
					<a href="#" class="sg--acc-handle sg--control-trigger sg--icon sg--icon-search" id="sg--f-toggle" title="Search Patterns">
            <!-- <span class="is-vishidden">Search Patterns</span> -->
            Search Patterns
          </a>
					<ul class="sg--view sg--acc-panel sg--right sg--checklist" id="sg--find" style="margin-top: 33px; height: 357px;">
							<li>twitter type head plugin</li>
					</ul>
				</li>
      </ul>
    </div>
  </div>
  <!-- end of controls -->
</nav>
<!-- end of pattern navigation & controls -->
