/* ==========================================================================
   Accordion
   ========================================================================== */
   
.sg--acc-handle{
  &:after{
    content   : ' +';
    float     : right;
    font-size : $sg-font-size-sm;

    @media all and (min-width: $sg-bp-med){ float: none; }
  }

  &.active{
    background : $sg-tint;
    color      : $sg-quaternary;

    &:after{ content: ' -'; }
  }

  &.sg--icon:after{ content: " "; }
}

.sg-header .sg-icon {
  width     : auto;
  font-size : 1rem;
  padding   : 0.5rem 1rem;
}

.sg--acc-panel{
  max-height : 0;
  min-width  : 10em;
  overflow   : hidden;
  @include sg-transition(max-height,0.1s,ease-out);

  li{ background: $sg-primary; }

  &.active{
    max-height : 120em;
    overflow   : auto;
  }

  &.sg--left{
    left     : auto;
    position : absolute;
  }
  &.sg--right{
    left     : auto;
    position : absolute;
    right    : 0;
  }

  [class^="sg-icon-"] {
    &:before {
      margin-right : 0.4em;
      display      : inline-block;
    }
  }
}
