/* ==========================================================================
   Controls
   ========================================================================== */

/**
 * Controls container
 */
.sg--controls{
  border   : 0;
  position : absolute;
  right    : 0;
  top      : 0;
  z-index  : 2;
}

/**
 * Controls
 */
.sg--control{
  & > li{
    float: left;

    @media all and (min-width: $sg-bp-med){
      border-bottom : 0;
      border-left   : 1px solid $sg-tint;
    }
  }

  .sg--input{
    padding             : 0.1em;
    -webkit-transition  : all $animate-quick ease-out;
    -moz-transition     : all $animate-quick ease-out;
    -ms-transition      : all $animate-quick ease-out;
    -o-transition       : all $animate-quick ease-out;
    transition          : all $animate-quick ease-out;

    &:active,
    &:focus{
      background : $sg-quaternary;
      color      : $sg-primary;
      outline    : 0;
    }
  }

}
  .sg--control-trigger{
    border-bottom: 1px solid $sg-tint;

    @media all and (min-width: $sg-bp-med){ border: 0; }
    @media all and (min-width: $sg-bp-large){
      float: left;
      width: 6em;
    }
  }
