/* ==========================================================================
   Controls - Current size
   ========================================================================== */

.sg--current-size{
  padding   : 0.85em 0.7em;
  color     : $sg-secondary;
  font-size : 70%;

  &:hover{
    .sg--input{
      background : $sg-quinary;
      color      : #000000;
    }
  }

  @media all and (min-width: $sg-bp-large){ float: left; }
}

.sg--size{
  width: 135px;

  @media all and (min-width: $sg-bp-med){ width: auto;}
}

.sg--size-options{
  @media all and (min-width: $sg-bp-large){
    float      : left;
    max-height : none;
    max-width  : none;
    position   : static;

    & > li{
      border      : 0;
      border-left : 1px solid $sg-tint;
      float       : left;
    }
  }
}

// Media Queries Dropdown
#sg--size-mq {
	display: none;

	@media all and (min-width: $sg-bp-large) { display: block; }
}

#sg--form {
	margin  : 0;
	padding : 0;
  border  : 0;
}

.sg--input {
	margin           : -2px 0 0 0;
	padding          : 0;
	border           : 0;
	background-color : #222;
	color            : gray;
	text-align       : right;
  width            : 25px;

	@media all and (min-width: $sg-bp-med) { width: 35px; }
}

  .sg--input-active {
  	background-color : #fff;
  	color            : #000;
  }
