/* ==========================================================================
   Top-bar
   ========================================================================== */

/**
 * Variables
 */
$topbar-height: 45px;
$topbar-font-size: rem-calc(12);
$topbar-title-font-size: rem-calc(16);
$topbar-color: #EDEDED;
$topbar-link-color: #EDEDED;
$topbar-link-color-hover: #FFFFFF;
$topbar-link-padding: rem-calc(8);

/**
 * Styles
 */
.sg--top-bar{
  margin: 0;
  padding: 0;
  color: $topbar-color;
  font-size: $topbar-font-size;
  height: $topbar-height;
  line-height: $topbar-height;
  overflow: hidden;
  position: relative;

  // Topbar Global list Styles
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // Topbar Global link Styles
  a{
    padding: 0;
    color: $topbar-link-color;
    text-decoration: none;
  }
}

  // Title Area
  .sg--top-bar .sg--title-area{
    margin: 0;
    float: left;
    list-style: none;
    position: relative;

    .sg--name{
      margin: 0;
      font-size: $rem-base;
      height: $topbar-height;

      h1{
        margin: 0;
        font-size: $topbar-title-font-size;
        line-height: $topbar-height;

        a{
          color: $topbar-link-color;
          display: block;
          padding: 0 ($topbar-link-padding*2);
        }
      }
    }
  }

  // Section container
  .sg--top-bar-section{
    left: 0;
    position: relative;
    width: auto;

    // Topbar Global list Styles
    ul{
      width: auto;
      height: auto;

      li{
        padding: 0 $topbar-link-padding;
        float: left;
      }
    }

    // LEFT MENU
    .right{
      padding-right: $topbar-link-padding;
      float: right;

      ul{ display: none; }
    }

    // RIGHT MENU
    .left{
      padding-left: $topbar-link-padding;
      float: left;

      ul{ display: none; }
    }

    // Set divider
    .left > li,
    .right > li{
      border-right: 1px solid rgba(255, 255, 255, 0.05);
    }
    .left > li:first-child,
    .right > li:first-child{
      border-left: 1px solid rgba(255, 255, 255, 0.05);
    }

    // Hover effect
    .left a,
    .right a{
      display: block;
      height: 100%;
      position: relative;
      width: 100%;
    }
    .left li:hover,
    .right li:hover{
      background: rgba(255, 255, 255, 0.15);
      color: $topbar-link-color-hover;
    }
  }


// SIZE CONTROL
.sg--size-control{
  padding: 0 $topbar-link-padding;
  input{
    background: none;
    border: 0;
    width: 20px;
  }
}
