<div class="atomise--resize-inputs-container">
    <ul class="atomise--resize-inputs">
        <li><input ng-model="resizePixel" type="number" class="atomise--resize-px" placeholder="{{pixels + 'px'}}"></li>
        <!-- <li><button ng-click="discomode()" class="atomise--disco-mode">disco!</button></li> -->
        <li><button ng-click="setSmall()" class="atomise--resize-small">small</button></li>
        <li><button ng-click="setMedium()" class="atomise--resize-medium">medium</button></li>
        <li><button ng-click="setLarge()" class="atomise--resize-large">large</button></li>
        <li><button ng-click="setFull()" class="atomise--resize-full">full</button></li>
    </ul>
</div>
