/* ==========================================================================
   Atomise cards
   ========================================================================== */

.#{$prefix}card {
    margin: 1.5em;
    padding: 1em;
    color: $grey;
    font-family: 'notosans', helvetica, sans-serif;
}

.#{$prefix}cards-container {
    @include grid-column($columns:12);
}

.#{$prefix}cards-wrap {
    @include grid-row;
}

/**
 * Imports
 */
@import "cards/_quicknav";
@import "cards/_statistics";
