/* ==========================================================================
   Primary navigation
   ========================================================================== */

/**
 * Global container
 */
.#{$prefix}primary-nav {
    padding: 2em 0;
    background: $white;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba($black,.23),
                0 3px 10px rgba($black,.16);
    left: -100%;
    position: fixed;
    top: 0;
    transition: left 450ms ease-out;
    width: 100%;

    @media (min-width: $breakpoint-medium) {
        left: -30%;
        top: 10%;
        width: 25%;
    }

    &.#{$prefix}show {
        left: 0;
    }

    .#{$prefix}close{
        margin: 0.5em;
        padding: 0;
        background: transparent url('/assets/images/close.svg') center center no-repeat;
        background-size: 150% 150%;
        display: inline-block;
        height: 1.5em;
        position: absolute;
        right: 0;
        text-indent: -99em;
        top: 0;
        width: 1.5em;
    }
}

.#{$prefix}primary-nav h2{ text-align: center; }
